.user-dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 15px 30px;
}

.logo {
  height: 50px;
}

.dashboard-nav {
  display: flex;
  gap: 20px;
}

.dashboard-nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 5px;
}

.dashboard-nav a.active {
  border-bottom: 3px solid white;
}

.welcome-section {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 50px 40px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.welcome-text {
  width: 60%;
}

.welcome-text h1 {
  font-size: 32px;
  color: #007bff;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 16px;
  color: #555;
}

.welcome-image {
  width: 35%;
  max-width: 500px;
  height: auto;
}

.welcome-image img.welcome-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}


.summary-section {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  padding: 0 40px 50px;
  flex-wrap: wrap;
}

.summary-card {
  background: white;
  width: 30%;
  min-height: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-card h2 {
  color: #007bff;
  margin-bottom: 15px;
}

.summary-card ul {
  list-style: none;
  padding: 0;
}

.summary-card ul li {
  font-size: 14px;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.summary-card p {
  color: #666;
  font-size: 14px;
}

/* DICA ALEATÓRIA */
.dica-card h4 {
  color: #007bff;
  margin-bottom: 5px;
}

.dica-card p {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
}

.dica-card span {
  font-size: 12px;
  color: #888;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    text-align: center;
  }

  .dashboard-nav {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .welcome-section {
    flex-direction: column;
    text-align: center;
  }

  .welcome-text {
    width: 100%;
  }

  .welcome-image {
    width: 90%;
    margin-top: 20px;
  }

  .summary-section {
    flex-direction: column;
    align-items: center;
  }

  .summary-card {
    background: white;
    width: 30%;
    min-height: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
}
